.contactsHolder {
  padding-top: 220px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  width: var(--main-container-width);
  margin: 0 auto;
}

.contacts {
  grid-column-start: 2;
}

.btnRow:nth-child(2) {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 20px;
}

.downloadBtn,
.emailBtn,
.codeBtn {
  position: relative;
  border: none;
  font-size: 107px;
  overflow: hidden;
}

.downloadBtn a,
.emailBtn a,
.codeBtn a {
  position: absolute;
  bottom: -31px;
  right: -3px;
  font-family: "AktivGroteskEx";
}

.downloadBtn {
  background: #000;
  height: 203px;
  width: 100%;
}

.downloadBtn:hover {
  background-color: transparent;
  border: 3px solid var(--dark-color);
}

.downloadBtn a {
  color: var(--bottom-outline);
}

.downloadBtn:hover a {
  color: var(--dark-color);
}

.btnRow button {
  transition: filter var(--hue-rotation-transition-delay) ease, background 0.2s ease-in-out;
  /* ; */
}

.emailBtn,
.downloadBtn,
.codeBtn {
  background: #000;
  height: 203px;
  border: 3px solid var(--bottom-outline);
}

.emailBtn:hover,
.downloadBtn:hover,
.codeBtn:hover {
  background: transparent;
  border: 3px solid var(--dark-color);
}

.emailBtn a,
.downloadBtn a,
.codeBtn a {
  color: #000;
  text-shadow: -1px -1px 0 var(--bottom-outline), 0 -1px 0 var(--bottom-outline), 1px -1px 0 var(--bottom-outline),
    1px 0 0 var(--bottom-outline), 1px 1px 0 var(--bottom-outline), 0 1px 0 var(--bottom-outline),
    -1px 1px 0 var(--bottom-outline), -1px 0 0 var(--bottom-outline);
}

.codeBtn {
  height: 407px;
  text-align: right;

  color: var(--bottom-outline);
  background: var(--dark-color);
}

.arrow {
  margin-top: 120px;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrowBtn {
  display: flex;
  flex-direction: column;
  font-family: "AktivGrotesk";
  font-weight: 700;
  font-size: 18px;
  border: none;
  background: transparent;
}

@media screen and (max-width: 1279px) {
  .contactsHolder {
    grid-template-columns: 10fr;
  }

  .contacts {
    grid-column-start: 1;
  }
}

@media screen and (max-width: 990px) {
  .contactsHolder {
    max-width: 90%;
  }

  .downloadBtn,
  .emailBtn,
  .codeBtn {
    font-size: 97px;
  }
}

@media screen and (max-width: 440px) {
  .downloadBtn,
  .emailBtn,
  .codeBtn {
    font-size: 60px;
  }
  .btnRow a {
    bottom: -20px;
  }
}
