.main {
  margin: 0 auto;
  width: var(--main-container-width);
  height: 100vh;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-gap: 20px;
  overflow: hidden;
}

.description {
  font-size: 18px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutMe {
  margin-bottom: 100px;
}

.square {
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--bg-color);
  background: #000;
}

.menu {
  margin-top: 50px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menuItem {
  position: relative;
  margin-right: 50px;
  font-family: "Aktiv Grotesk", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--title-outline);

  transition: opacity 0.2s ease, filter 0.8s ease;
}

.menuItem::after {
  transition: opacity 0.2s ease, filter 0.8s ease;
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--title-outline);
}

.menuItem:hover::after {
  opacity: 1;
}

.menuItem:active {
  opacity: 0.5;
}

.resume {
  margin-right: 17px;
}

.titleBlock {
  margin-left: 14px;
  /* margin-bottom: -15px; */
  transform: translateY(15px);
  font-family: "AktivGroteskEx", sans-serif;
}

.titleBlock h1 {
  font-size: 107px;
  text-transform: uppercase;
  line-height: 90px;
  background-image: url("../bg.png");
  background-position: 0 0px;
  background-clip: text;
  background-repeat: no-repeat;
  color: transparent;
}

.titleBlock h2 {
  font-size: 125px;
  line-height: 100px;
  color: var(--dark-color);
  text-shadow: var(--shadow-neg-size) var(--shadow-neg-size) 0 var(--title-outline),
    0 var(--shadow-neg-size) 0 var(--title-outline), var(--shadow-size) var(--shadow-neg-size) 0 var(--title-outline),
    var(--shadow-size) 0 0 var(--title-outline), var(--shadow-size) var(--shadow-size) 0 var(--title-outline),
    0 var(--shadow-size) 0 var(--title-outline), var(--shadow-neg-size) var(--shadow-size) 0 var(--title-outline),
    var(--shadow-neg-size) 0 0 var(--title-outline);
}

@media screen and (max-width: 990px) {
  .main {
    height: 80vh;
  }
  .main .menu li:nth-child(2) {
    display: none;
  }
  .row {
    grid-template-columns: 7fr;
  }
  .description {
    display: none;
  }
  .square {
    overflow: hidden;
  }
}
