.card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background: #000;
}

.card .descriptionBlock {
  font-family: "AktivGroteskEx";
  position: absolute;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
}

.descriptionBlock p {
  font-weight: 700;
}

.descriptionBlock h1 {
  font-weight: 900;
}

.smallCard .descriptionBlock p {
  font-size: 15px;
}

.smallCard .descriptionBlock h1 {
  font-size: 25px;
}

.middleCard .descriptionBlock p {
  font-size: 18px;
}

.middleCard .descriptionBlock h1 {
  font-size: 36px;
}

.bigCard .descriptionBlock p {
  font-size: 23px;
}

.bigCard .descriptionBlock h1 {
  font-size: 45px;
}

.vkStatisticsText {
  top: 4px;
  left: 6px;
}

.foodServiceText {
  bottom: 30px;
  right: 5px;
  text-align: right;
}

.capedText {
  bottom: 22px;
  right: 18px;
}

.generatorText {
  top: 22px;
  left: 18px;
}

.challengesText {
  top: 5px;
  left: 5px;
}

.dynamicTimePageText {
  bottom: 40px;
  left: 10px;
}

.designerMarketplaceText {
  bottom: 5px;
  left: 5px;
}

.freshnesecomText {
  top: 24px;
  right: 10px;
  text-align: right;
}

.pizzaTimeText {
  bottom: 158px;
  right: 25px;
  text-align: right;
}

.laslesVpnText {
  bottom: 30px;
  left: 10px;
}

.landifyText {
  bottom: 30px;
  right: 10px;
  text-align: right;
}

.keksbyText {
  top: 15px;
  left: 10px;
}

.dashboardText {
  top: 35px;
  right: 5px;
  text-align: right;
}

.wkndText {
  bottom: 90px;
  left: 10px;
}

.card .imgWrap {
  position: absolute;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.5s ease;
  border-radius: 8px;
}

.card:hover img {
  filter: grayscale(0%);
  transition: all 0.5s ease;
}

.bigCard {
  width: 518px;
  height: 518px;
}

.middleCard {
  width: 303px;
  height: 303px;
}

.smallCard {
  width: 194px;
  height: 194px;
}

.vkStatistics .imgWrap {
  top: 80px;
  left: 55px;
}

.foodService .imgWrap {
  top: 51px;
  left: 70px;
}

.caped .imgWrap {
  top: 30px;
  left: -80px;
}

.generator .imgWrap {
  bottom: 70px;
  left: 40px;
}

.challenges .imgWrap {
  bottom: 30px;
  left: 70px;
}

.dynamicTimePage .imgWrap {
  top: 60px;
  left: -45px;
}

.DesignerMarketplace .imgWrap {
  top: 0px;
  left: 30px;
}

.freshnesecom .imgWrap {
  bottom: 60px;
  left: 45px;
}

.pizzaTime .imgWrap {
  top: 60px;
  left: -105px;
}

.laslesVpn .imgWrap {
  top: 25px;
  left: 45px;
}

.landify .imgWrap {
  top: 15px;
  left: -45px;
}

.keksby .imgWrap {
  top: 125px;
  left: -25px;
}

.dashboard .imgWrap {
  bottom: -9px;
  left: -30px;
}

.wknd .imgWrap {
  top: 15px;
  left: 40px;
}
